@import url('./reset.css');

:root {
  color: #fff;
  background-color: #1C1815;
  --color-white: #fff;
  --color-black: #1C1815;
  --color-primary: #F94300;
  --color-bg: #1C1815;

  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.25rem;
  --font-size-xsmall: 1.125rem;

  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-light: 300;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Rocked';
  src: url('../static/fonts/Rocked-Regular-ALT.woff2') format('woff2');

  font-style: normal;
}

@font-face {
  font-family: 'ABCWhyteVariable';
  src: url('../static/fonts/ABCWhyteVariable-Trial.woff2') format('woff2');
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

#preloader {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../static/img/preloader-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: var(--color-bg);
  z-index: 100;
}

.preloader__demon {
  width: 10rem;
  height: 10rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Rocked', serif;
  font-size: var(--font-size-large);
  display: flex;
  padding-bottom: var(--spacing-small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: var(--spacing-small);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.orange {
  color: var(--color-primary);
}

.underlined {
  text-decoration: underline;
}

.subheader {
  font-size: var(--font-size-small);
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../static/img/texture-1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.webgl {
  position: relative;
  width: 90% !important;
  height: 60% !important;
  margin-top: -8rem;
  margin-bottom: -8rem;
  z-index: -10;
}

.info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: left;
  font-family: 'ABCWhyteVariable', sans-serif;

}

article {
  padding: 0 var(--spacing-medium);
  font-family: 'ABCWhyteVariable', sans-serif;
  font-weight: var(--font-weight-light);
  line-height: 1.6;
  margin-bottom: 8rem;
}

.logo {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.info--header {
  display: block;
  font-family: 'ABCWhyteVariable',
    sans-serif;

  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.info {
  line-height: 1.6;
  font-size: 1rem;
  position: relative;
}


.info::after {
  content: '';
  width: 50%;
  height: 100%;
  background-image: url('../static/img/texture-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 40%;
}

.info__cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}

.info__cta p {
  font-size: var(--font-size-medium);
}



.tickets__header,
.objects__header,
.contact__header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}



.tickets__list {
  margin-top: var(--spacing-large);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  position: relative;
}

.tickets__list::after {
  content: '';
  width: 100%;
  height: calc(100vw*0.66);
  background-image: url('../static/img/Scapino-Ballet.png');
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 70%;
  position: absolute;
  top: 50%;
}

.tickets__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  border: 1px solid var(--color-white);
  background-color: rgba(28, 24, 21, 0.5);

}

.tickets__item a,
.additional__button,
.info__button {
  padding: var(--spacing-small);
  border: 1px solid var(--color-white);
  background-color: var(--color-primary);
}

.info__button {
  font-size: var(--font-size-xsmall);
}

.objects::before {
  content: '';
  width: 60%;
  height: 100%;
  background-image: url('../static/img/texture-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: -2;
  pointer-events: none;
  position: absolute;
  top: -95%;
  left: 0;
}

.objects {
  position: relative;
  margin-top: var(--spacing-large);
}

.objects__list {
  margin-top: var(--spacing-large);
  display: flex;
  max-width: 90cqw;
  align-items: center;
  overflow-x: scroll;
  gap: var(--spacing-medium);
}



.objects__item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  justify-content: center;
  align-items: center;
}

.objects__img {
  width: 14rem;
}

.objects__desc {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-small);
}

.objects__nav {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-top: var(--spacing-large);
}

.additional,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  position: relative;
}

.additional::after {
  content: '';
  width: 80vw;
  height: calc(90vw* 1.77);
  background-image: url('../static/img/texture-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: -20%;
  left: 20%;
}

.additional__info {
  text-align: center;
  line-height: 1.3;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  padding: 0 var(--spacing-large);
}

.additional__CTA {
  font-style: italic;
  text-align: center;
  font-size: var(--font-size-xsmall);
  line-height: 1.1;
  width: 20ch;
}

.additional__button {
  font-size: var(--font-size-xsmall);
  margin-top: var(--spacing-large);
}

.contact {
  text-align: center;
  gap: 0rem;
  position: relative;
}

#app::after {
  content: '';
  width: 100vw;
  height: calc(100vw*0.5);
  background-image: url('../static/img/demons.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 0;
}

.contact__header--container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__list {
  margin-top: var(--spacing-large);
  display: flex;
  gap: var(--spacing-medium);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  p {
    font-size: var(--font-size-medium);
  }

  h1 {
    font-size: 8rem;
    text-align: center;
    justify-self: center;
  }


  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-large);
  }

  #app {
    background-image: url('../static/img/texture-desktop-1.png');
    background-repeat: no-repeat;
  }

  .logo {
    align-self: flex-start;
    margin-left: var(--spacing-large);
  }

  .info--container {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-medium);

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  article {
    padding: 0 8rem;

  }

  .info__cta {
    gap: var(--spacing-medium);
    justify-content: center;
    align-items: start;
  }

  .info::after {
    content: '';
    width: 0;
    height: 0;
    background-image: none;
  }

  .subheader {
    align-self: flex-end;
  }

  #app>.subheader {
    margin-right: 8rem;
  }

  .webgl {
    width: 50% !important;
  }

  .info {
    margin-bottom: 0;
    font-size: var(--font-size-medium);
  }

  .tickets {
    align-self: flex-start;
    margin-top: 4rem;
  }

  .tickets__list {
    margin-top: var(--spacing-large);
  }

  .tickets__item p {
    font-size: var(--font-size-small);
  }

  .tickets__list::after {
    content: '';
    width: 70cqw;
    height: calc(70cqw*0.66);
    /* background-image: url('../static/img/Scapino-Ballet-big.png'); */
    background-image: url('../static/img/Scapino-Ballet-big-brown.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -3;
    pointer-events: none;
    opacity: 60%;
    position: absolute;
    top: -50%;
    left: 50%;
  }

  .tickets__item a {
    font-size: var(--font-size-xsmall);
  }

  .objects p,
  .objects h3 {
    text-align: center;
  }

  .objects__list {
    transform: scale(1.1);
    padding-top: 1.5rem;
  }

  .objects__desc {
    font-size: var(--font-size-xsmall);
  }

  .objects__nav {
    display: none;
  }

  .additional {
    align-items: flex-start;
    align-self: flex-start;
    width: 45ch;
  }

  .additional p {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  }

  .additional__info {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-light);
  }

  .additional__CTA {
    font-size: var(--font-weight-medium)
  }

  .additional__CTA:last-of-type {
    font-size: var(--font-size-small);
  }

  .additional::after {
    content: '';
    width: 40vw;
    height: calc(40vw* 1.77);
    background-image: url('../static/img/texture-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    top: -50%;
    left: 70%;
  }

  .contact__header--container-text {
    align-items: flex-start;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: var(--spacing-large);
    width: 84cqw;
    padding: 0;
  }

  article:last-of-type {
    margin-bottom: 0;
  }

  .contact p {
    font-size: var(--font-size-xsmall);
  }

  #app::after {
    content: '';
    width: 50vw;
    height: calc(50vw*0.5);
    background-image: url('../static/img/demons.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 82%;
    right: 0;
  }
}