@import url('./reset.css');

:root {
  color: #fff;
  background-color: #1C1815;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Rocked';
  src: url('../static/fonts/Rocked-Regular-ALT.woff2') format('woff2');

  font-style: normal;
}

@font-face {
  font-family: 'ABCWhyteVariable';
  src: url('../static/fonts/ABCWhyteVariable-Trial.woff2') format('woff2');
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Rocked', serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.bold {
  font-weight: 600;
}

#app {
  width: 100%;

}

.webgl {
  width: 80% !important;
  height: 60% !important;
}

p {
  text-align: left;
  font-family: 'ABCWhyteVariable', sans-serif;

}

article {
  /* width: 80%; */
  padding: 1rem 3rem;
  font-family: 'ABCWhyteVariable', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.info--header {
  display: block;
  font-family: 'ABCWhyteVariable',
    sans-serif;
  padding-left: 3rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.info {
  padding: 1rem 3rem;
  line-height: 1.6;
  font-size: 1rem;
}

.tickets__header {
  font-weight: 600;
  font-size: 1.25rem;
}

.tickets__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tickets__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid white;
}

.tickets__item a {
  padding: 1rem;
  border: 1px solid white;
  background-color: black;
}

.objects__list {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  gap: 1rem;
}

.objects__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.objects__img {
  width: 8rem;
}