section {
  background-image: url('./src/assets/background-texture.png');
  background-size: cover;
}

section video {
  width: 80vw;
  height: 60vh;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px; */
  min-width: 320px;
  min-height: 99vh;
  background-color: #0A0C0F;
  color: #ffffff;
  overflow: hidden;
  /* background-image: url('../cards/background.avif'); */
}

@font-face {
  font-family: 'Rocked';
  src: url('./src/assets/fonts/Rocked-Regular-ALT.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'ABCWhyteVariable';
  src: url('./src/assets/fonts/ABCWhyteVariable-Trial.woff2') format('woff2');
  font-style: normal;
}


h1 {
  font-family: Rocked, sans-serif;
  font-size: 10rem;
  line-height: 1.1;
}

h2 {
  font-family: Rocked, sans-serif;
  font-size: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.norms h2 {
  font-size: 6rem;
}

p {
  font-size: 3rem;
  font-family: ABCWhyteVariable, sans-serif;
}


#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.reproductive-rights {
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;
}

.repr-rights-logo {
  width: 20rem;
}

.reproductive-rights .images img {
  width: 20rem;
  margin-bottom: 10px;
}

.reproductive-rights p {
  font-size: 3rem;
  font-family: ABCWhyteVariable, sans-serif;
  opacity: 0;
  max-width: 40ch;
  margin: 0;
  z-index: 1;
}

p span {
  font-weight: 600;
  color: #F94300;
}

.reproductive-rights .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reproductive-rights .images img:nth-child(1) {
  transform: rotate(-17deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(2) {
  transform: rotate(25deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(3) {
  transform: rotate(-25deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(4) {
  transform: rotate(6deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(5) {
  transform: rotate(12deg);
  z-index: 1;
  position: absolute;
}

.reproductive-rights .images img:nth-child(6) {
  transform: rotate(30deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(7) {
  transform: rotate(-14deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(8) {
  transform: rotate(-5deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(9) {
  transform: rotate(10deg);
  z-index: 0;
  position: absolute;
}

.reproductive-rights .images img:nth-child(10) {
  transform: rotate(5deg);
  z-index: 0;
  position: absolute;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
}

.background-image {
  position: absolute;
  opacity: 0.3;
  z-index: -2;
}




/* norms section */

.norms-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.norms-text-paragraph {
  font-size: 2.5rem;
  max-width: 33ch;
}

.logo-right {
  display: flex;
  flex-direction: row-reverse;
}

.norms .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

.video-filter {
  width: 800px;
  height: 600px;
  position: relative;
}

canvas {
  background-color: #0A0C0F;
  position: absolute;
  top: 0;
  left: 0;
}


/* intro section */

.intro-bckg {
  opacity: 0.7;
  width: 90vw;
}

#video {
  width: 95vw;
  height: 95vh;
}

/* in between */

.flex-container-inbetween {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.between-text-left {
  font-size: 3rem;
  line-height: 1.2;
  width: 14ch;
  max-width: 15ch;
  margin-right: -40rem;
  padding-right: 2rem;
}

.between-text-right {
  font-size: 3rem;
  line-height: 1.2;
  width: 14ch;
  max-width: 15ch;
  margin-left: -40rem;
}

.between__title {
  margin-top: 0;
  font-size: 6rem;
  margin-bottom: 7rem;
}

.picked-object {
  margin-bottom: .5rem;
  font-size: 2.3rem;
}

.floating-image {
  position: absolute;
  z-index: -1;
}

.background-image-inbetween-static {
  position: relative;
}

.background-image-inbetween-static img {
  position: absolute;
  z-index: -2;
  opacity: 0.9;
  left: 27%;
  width: 55rem;
  top: 6rem;
  /* transform: rotate(169deg); */
}

.or {
  font-size: 3.5rem;
  font-weight: bold;
  background-color: #F94300;
  border-radius: 50%;
  padding: 1.5rem;
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.or::before,
.or::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 6rem;
  background-color: white;
}

.or::before {
  top: -8rem;
}

.or::after {
  bottom: -8rem;
}

/* universal section */

.between-text-left.universal {
  font-size: 2.5rem;
  width: 25ch;
  margin-right: -30rem;
}

.between-text-right.universal {
  font-size: 2.5rem;
  width: 25ch;
  margin-left: -33rem;
}

.or.universal {
  font-size: 2rem;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  /* margin-left: -11rem; */
}

.or.universal::before {
  height: 3rem;
  top: -5rem;
}

.or.universal::after {
  height: 35rem;
  top: 8rem;
}

.flex-container-inbetween.universal p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  max-width: 30ch;
  line-height: 1.2;
}

.flex-container-inbetween.universal {
  margin-top: 1rem;
}

.object p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  line-height: 1.1;
}

.universal-object-image {
  width: 15rem;
}

.object-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.universal-object-text {
  text-align: left;
}

.object {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-height: 12rem;
  margin-right: 7rem;
}

.object.reverse {
  flex-direction: row-reverse;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first-row:nth-child(2) {
  margin-right: 5rem;
}

.in-between-universal h1 {
  font-size: 6.5rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
}

.universal-heading {
  font-weight: 600;
  font-size: 2.4rem;
}

.universal-description {
  font-size: 2rem
}

.universal-object-image.test {
  transform: rotate(-30deg);
  margin-top: 4rem;
  margin-right: 2rem;
}

.universal-object-image.comb {
  transform: rotate(140deg) scale(1.6);
}

.universal-object-image.camera {
  transform: rotate(-210deg);
  margin-bottom: 7rem;
  margin-right: 2rem;
}

.universal-object-image.cast {
  transform: rotate(-35deg) scale(0.8);
}

hr {
  border: 0;
  border-top: 2px solid white;
  color: white;
  margin: 0;
}


/* #connectButton {
  display: none;
} */